<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>COMMUNE-IC8</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>

<body class="app sidebar-show aside-menu-show bg-dark">
	<header class="app-header">

		<!---------------------------HEADER CONTENT --------------------------------------->

		<div th:replace="~{includes/searchNav :: search}"></div>


	</header>
	<!---------------------------HEADER CONTENT --------------------------------------->




	<!---------------------------SIDEBAR CONTENT --------------------------------------->

	<div class="app-body">
		<div class="sidebar">
			<!-- Sidebar content here -->

		<div th:include="~{includes/sidebar :: sidebar}"></div>

	</div>
		<!---------------------------SIDEBAR CONTENT --------------------------------------->



		<!---------------------------MAIN CONTENT --------------------------------------->
		<main class="main"> <!-- Main content here --> <!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<div class="container bg-dark" style="height:100vh;">
		<div><h1 align="center">Home</h1><br></div>

		<div class="card bg-light text-dark mx-auto rounded" style="width: 50%;">
			<div class="card-body">
				<h1 class="card-title" th:text="'Hello !'"></h1>
				<p class="card-text" style="font-size:120%;">Hello and welcome to your flat <span style="font-size:150%;"th:text="${fullname}"/> !</p>
				<br><p>COMMUNE-IC8 is the right place to manage your flat and to keep everything in order. It makes life for you and your flatmates easier.</p>
				
				<p> Need some groceries? Simply add them to the <a th:href="showGroceryList">Grocery List</a> so you and your roommates have an overview on what is missing !</p>
				
				<p> Have an appointment, something to clean or an upcoming party? Add them to the <a th:href="listTodos">To-Do List</a> so everybody knows about it !</p>
				
				<p> Want to <a href="https://www.youtube.com/watch?v=-2U0Ivkn2Ds">say something?</a> Just leave a comment in the <a th:href="listComments">Comment Section.</a></p>

				<p> Or just visit <a th:href="showUserProfile" class="card-link">Your Profile!</a></p>
			</div>
		</div>
		</div>

		



		</main>
		<!---------------------------MAIN CONTENT --------------------------------------->



		<!---------------------------RIGHT-SIDEBAR --------------------------------------->

	 <aside class="aside-menu bg-dark">
	
	<div class="card bg-dark mx-auto rounded " >
		
		<img class="img-fluid" th:unless="${image} == null" th:src="${image}" height="250">
			
			<div class="card-body">
				<a class="card-title" th:text="${'@' + user.getUsername()}" th:href="@{/showUserProfile}" style="font-size:200%;"></a>
				<p class="card-text" style="font-size:120%;">
					<ul style="list-style-type:none; padding-left:0;">
						<li th:text="${'Firstname: ' + user.getFirstname()}"></li>
						<li th:text="${'Lastname: ' + user.getLastname()}"></li>
						<li th:text="${'Mobilenumber: ' + user.getMobilenumber()}"></li>
						<li th:text="${'E-Mail: ' + user.getEmail()}"></li>
						<li th:text="${'Day of Birth: ' + #dates.format(user.birthdate,'dd.MM.yyyy')}"></li>
												
					</ul>
				</p>
	</div>
	</div>
	</aside>
		
	</div>
	<!---------------------------RIGHT-SIDEBAR --------------------------------------->


	<!---------------------------FOOTER --------------------------------------->

	<!-- Footer content here -->
	<div th:replace="~{includes/footer :: footer}"></div>

	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />

</body>