<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>COMMUNE-IC8</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container-fluid" role="main">

		<div class="page-header">
		<h1 align="center">Welcome To Your Flat !</h1>
			<nav th:replace="~{includes/searchNav :: search}"></nav>
		</div>

		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->
		
		

		<!--  Menu ----------------------------------------------------------- -->
		<div class="col-sm-1">
		
			<div th:replace="~{includes/menu :: menu}"></div>
		
		</div>
		<!--  Menu ----------------------------------------------------------- -->


		<!-- Right Dynamic Content------------------------------------------------------- -->
		<div class="col-md-10 col-md-offset-1">


			<p> Hello and welcome to your flat, du Eierbär! This place lets you organize your shared flat and helps you to COMMUNE-IC8 with your Flatmates!
				Have an Appointment? No problem, just add id to the Todo list and the others will see it. Not enough Mayo in the refrigerator? Never mind, just add it to the grocery list so it wont be forgotten on the next shopping tour :P</p>


		</div>
		<!-- Right Dynamic Content------------------------------------------------------- -->
	</div>
	
	
	
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
	<div th:replace="~{includes/footer :: footer}" />

</body>
</html>