<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>COMMUNE-IC8</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>

<body class="app sidebar-show aside-menu-show">
	<header class="app-header">

		<!---------------------------HEADER CONTENT --------------------------------------->
		<div th:replace="~{includes/searchNav :: search}"></div>


	</header>
	<!---------------------------HEADER CONTENT --------------------------------------->




	<!---------------------------SIDEBAR CONTENT --------------------------------------->

	<div class="app-body">
		<div class="sidebar">
			<!-- Sidebar content here -->

			<div th:include="~{includes/sidebar :: sidebar}"></div>

		</div>
		<!---------------------------SIDEBAR CONTENT --------------------------------------->



		<!---------------------------MAIN CONTENT --------------------------------------->
		<main class="main"> <!-- Main content here --> <!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->



		<div>
			<h1 align="center">Flat</h1>
		</div>


		<div>
			<table data-toggle="table" class="table table-striped">

				<thead>

					<tr>
						<th data-sortable="true">Flatname</th>
						<th data-sortable="true">User</th>
						<th sec:authorize="hasRole('ADMIN')">Actions</th>

					</tr>
				</thead>

				<tbody>
					<!--  list all items ----------------------------------------------------------- -->

					<tr th:each="flat : ${flats}">
						<td th:text="${flat.name}"></td>
						<td>
							<ul>
								<li th:each=" user: ${flat.getUsers()}"
									th:text="${user.firstname} + ' '+ ${user.lastname} "></li>
							</ul>
						</td>


						<td sec:authorize="hasRole('ADMIN')"><a
							th:href="@{/changeFlat(id=${flat.id})}"><button type="button"
									class="btn btn-xs btn-warning cui-wrench">
									<span aria-hidden="true"></span> Edit
								</button> </a> <a th:href="@{/deleteFlat(id=${flat.id})}"><button
									type="button" class="btn btn-xs btn-danger cui-trash">
									<span aria-hidden="true"></span> Delete
								</button> </a></td>




					</tr>
					<!--  list all items ----------------------------------------------------------- -->
				</tbody>
			</table>
		</div>

		</main>
		<!---------------------------MAIN CONTENT --------------------------------------->



		<!---------------------------RIGHT-SIDEBAR --------------------------------------->

		<aside class="aside-menu">
			<!-- Aside menu content here -->
			<!-- -----------------Edit / PDF / Excel Buttons -------------------------- -->
			<div class="sidebar">
				<nav class="sidebar-nav">
					<ul class="nav">
						<li class="nav-title">Options</li>

						<li sec:authorize="hasRole('ADMIN')" class="nav-item"><a
							class="nav-link" th:href="@{/editFlat}"> <i
								class="nav-icon cui-location-pin"></i> Create New Flat
						</a></li>

					</ul>
				</nav>

			</div>



		</aside>
	</div>
	<!---------------------------RIGHT-SIDEBAR --------------------------------------->


	<!---------------------------FOOTER --------------------------------------->

	<!-- Footer content here -->
	<div th:replace="~{includes/footer :: footer}"></div>

	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />

</body>