<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>COMMUNE-IC8</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>

<body class="app sidebar-show aside-menu-show">
  <header class="app-header navbar" >
  
<!---------------------------HEADER CONTENT --------------------------------------->
    <div class="container-fluid">

			<form>
				<a style="font-size:200%;" th:href="@{/}"> COMMUNE-IC8</a>		
			</form>
	

		<!-- HTML form with search textbox and submit button-->
		<form role="search" method="post"
			action="searchUsers">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for..."
					name="searchString"> <span class="input-group-btn">
					<button class="btn btn-default" type="submit">Go!</button>
				</span>
			</div>
		</form>
		
		
		<form th:action="@{/logout}"
			method="post">
			<input class="btn btn-danger"   type="submit" value="Sign Out" />
		</form>	


	</div>
    
  </header>
<!---------------------------HEADER CONTENT --------------------------------------->
  
  
  
  
<!---------------------------SIDEBAR CONTENT --------------------------------------->
  
  <div class="app-body">
    <div class="sidebar">
      <!-- Sidebar content here -->

     <div th:include="~{includes/sidebar :: sidebar}"></div>
     
    </div>
<!---------------------------SIDEBAR CONTENT --------------------------------------->
    
    

 <!---------------------------MAIN CONTENT --------------------------------------->
    <main class="main">
      <!-- Main content here -->
      
      <!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->
      	
      	<div><h1 align="center">Grocery List</h1></div>
      	
      	
      	<div>
      		<table data-toggle="table" class="table table-striped">
				<thead>

					<tr>
						<th data-sortable="true">Grocery</th>
						<th data-sortable="true">Bought</th>
						<th sec:authorize="hasRole('ADMIN')">Actions</th>



					</tr>
				</thead>

				<tbody>
					<!--  list all items ----------------------------------------------------------- -->

					<tr th:each="grocery : ${groceries}">
						<td th:text="${grocery.groceryName}"></td>
						<td th:text="${grocery.bought}"></td>


						<td sec:authorize="hasRole('ADMIN')"><a
							th:href="@{/changeGrocery(id=${grocery.id})}"
							class="btn btn-xs btn-success"> <span
								class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
						</a> <a th:href="@{/delete(id=${grocery.id})}"
							class="btn btn-xs btn-danger"> <span
								class="cui-Trash" aria-hidden="true"></span>
								Delete
						</a></td>
					</tr>
					<!--  list all items ----------------------------------------------------------- -->
				</tbody>
			</table>
      	</div>
      	
    </main>
 <!---------------------------MAIN CONTENT --------------------------------------->

    
    
 <!---------------------------RIGHT-SIDEBAR --------------------------------------->
    
    <aside class="aside-menu">
      <!-- Aside menu content here -->
      <!-- -----------------Edit / PDF / Excel Buttons -------------------------- -->
      	<div class="sidebar">
		<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-title">Options</li>

			<li sec:authorize="hasRole('USER')" class="nav-item"><a class="nav-link"
				th:href="@{/editGrocery}"> <i
					class="nav-icon cui-basket-loaded"></i> Add Grocery
			</a></li>
		

			<li sec:authorize="hasRole('USER')" class="nav-item"><a class="nav-link"
				th:href="@{/groceryPdf}"> <i
					class="nav-icon cui-cloud-download"></i> Export PDF
			</a></li>
			
			<li sec:authorize="hasRole('USER')" class="nav-item"><a class="nav-link"
				th:href="@{/groceryExcel}"> <i
					class="nav-icon cui-cloud-download"></i> Export Excel
			</a></li>

			
			</ul></nav>
     
    </div>
    
    
    
    </aside>
  </div>
 <!---------------------------RIGHT-SIDEBAR --------------------------------------->

  
  <!---------------------------FOOTER --------------------------------------->
 
  <footer class="app-footer">
    <!-- Footer content here -->
    <div th:include="~{includes/footer :: footer}"></div>
  </footer>
  
  	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
  	
</body>