<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>COMMUNE-IC8</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>

<body class="app sidebar-show aside-menu-show bg-dark">
  <header class="app-header" >
  
<!---------------------------HEADER CONTENT --------------------------------------->
         <div th:replace="~{includes/searchNav :: search}"></div>

    
  </header>
<!---------------------------HEADER CONTENT --------------------------------------->
  
  
  
  
<!---------------------------SIDEBAR CONTENT --------------------------------------->
  
  <div class="app-body">
    <div class="sidebar" style="border-right: 1px solid;">
      <!-- Sidebar content here -->

     <div th:include="~{includes/sidebar :: sidebar}"></div>
     
    </div>
<!---------------------------SIDEBAR CONTENT --------------------------------------->
    
    

 <!---------------------------MAIN CONTENT --------------------------------------->
    <main class="main">
      <!-- Main content here -->
      
      <!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->
      	
      	<div><h1 align="center">Grocery List</h1><br></div>
      	
      	
      <div class ="col-sm-10 mx-auto" align="center">

      		<table data-toggle="table" class="table table-light text-dark table-borderless rounded ">
				<thead class="thead-dark">

					<tr>
						<th data-sortable="true" align="justify">Grocery</th>
						<th data-sortable="true" align="justify">Bought</th>
						<th sec:authorize="hasRole('USER')"  align="justify">Actions</th>



					</tr>
				</thead>

				<tbody>
					<!--  list all items ----------------------------------------------------------- -->

					<tr th:each="grocery : ${groceries}">
						<td th:text="${grocery.groceryName}" align="justify"></td>
						<td th:text="${grocery.bought}" align="justify"></td>


						<td sec:authorize="hasRole('USER')" align="justify"><a
							th:href="@{/changeGrocery(id=${grocery.id})}"><button type="button" class="btn btn-xs btn-warning cui-wrench">
							<span aria-hidden="true"></span> Edit</button>
						</a> 
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/delete(id=${grocery.id})}"><button type="button" class="btn btn-xs btn-danger cui-trash">
							 <span aria-hidden="true"></span>
								Delete</button>
						</td>
					</tr>
					<!--  list all items ----------------------------------------------------------- -->
				</tbody>
			</table>
      	</div>
      	
    </main>
 <!---------------------------MAIN CONTENT --------------------------------------->

    
    
 <!---------------------------RIGHT-SIDEBAR --------------------------------------->
    
    <aside class="aside-menu bg-dark">
      <!-- Aside menu content here -->
      <!-- -----------------Edit / PDF / Excel Buttons -------------------------- -->
      	<div class="sidebar">
		<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-title">Options</li>

			<li sec:authorize="hasRole('USER')" class="nav-item"><a class="nav-link"
				th:href="@{/editGrocery}"> <i
					class="nav-icon cui-basket-loaded"></i> Add Grocery
			</a></li>
		

			<li sec:authorize="hasRole('USER')" class="nav-item"><a class="nav-link"
				th:href="@{/groceryPdf}"> <i
					class="nav-icon cui-cloud-download"></i> Export PDF
			</a></li>
			
			<li sec:authorize="hasRole('USER')" class="nav-item"><a class="nav-link"
				th:href="@{/groceryExcel}"> <i
					class="nav-icon cui-cloud-download"></i> Export Excel
			</a></li>

			
			</ul></nav>
     
    </div>
    
    
    
    </aside>
  </div>
 <!---------------------------RIGHT-SIDEBAR --------------------------------------->

  
  <!---------------------------FOOTER --------------------------------------->
 
    <!-- Footer content here -->
    <div th:replace="~{includes/footer :: footer}"></div>
  
  	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
  	
</body>