<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>COMMUNE-IC8</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container-fluid" role="main">

		<div class="page-header">
		<h1 align="center">Comments</h1>
			<nav th:replace="~{includes/searchNav :: search}"></nav>
		</div>

		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<!-- Menu------------------------------------------------------------------ -->
		<div class="col-sm-1">
			<div th:replace="~{includes/menu :: menu}"></div>
		</div>
		<!-- Menu------------------------------------------------------------------ -->
		
		
		<!--  Edit Grocery----------------------------------------------------------- -->
		<div class="col-md-3 col-md-offset-1">

			<form sec:authorize="hasRole('USER')" th:action="@{/addComment}"
				method="post" style="float: left;">
				<input class="btn btn-default" type="submit" value="Add Comment" />			
			</form>
			<form th:action="@{/commentsPdf}" method="post" style="float: left;">
				<input class="btn btn-default" type="submit" name ="pdf" value="PDF">
			</form>
			<form th:action="@{/commentsExcel}" method="post" style="float: left;">
				<input class="btn btn-default" type="submit" name ="excel" value="Excel">

			</form>
		</div>
		<!--  Edit Grocery----------------------------------------------------------- -->



		<!-- Right Dynamic Content------------------------------------------------------- -->
		<div class="col-md-10 col-md-offset-1">

			<table data-toggle="table" class="table table-striped">
				<thead>
					<tr>
						
						<th data-sortable="true">User</th>
						<th data-sortable="true">Date</th>
						<th data-sortable="true">Text</th>

					</tr>
				</thead>
				<tbody>
					<!--  list all items ----------------------------------------------------------- -->
					<tr th:each="comment : ${comments}">
						
						<td th:text="${comment.getUser().getFirstname() + ' ' + comment.getUser().getLastname()}"></td>
						<td th:text="${comment.date}"></td>
						<td th:text="${comment.text}"></td>
						
						<!-- <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/delete(id=${employee.id})}">Delete</a></td> -->

					</tr>
					<!--  list all items ----------------------------------------------------------- -->
				</tbody>
			</table>

		</div>
		<!-- Right Dynamic Content------------------------------------------------------- -->
	</div>
	
	
	
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
	<div th:replace="~{includes/footer :: footer}" />
</body>
</html>