<div th:fragment="menu">


	<div class="card bg-dark text-white"
		style=" width: 150%; border-radius: 25px">
		<div class="card-header">
			<h2>Menu</h2>
		</div>
		<div class="card-body">

			<ul class="list-group list-group-flush">
				<li class="list-group-item" style="background-color:#1C1C1C;"><form 
						th:action="@{/showGroceryList}" method="post">
						<input id="liste" type="submit" value="Grocery" style="color: white; border-style:none; background-color:transparent;" />
					</form></li>
				<li class="list-group-item" style="background-color:#1C1C1C;"><form th:action="@{/listComments}"
						method="post">
						<input id="liste" type="submit" value="Comments" style="color: white; border-style:none; background-color:transparent;" />
					</form></li>
				<li class="list-group-item" style="background-color:#1C1C1C;"><form th:action="@{/listTodos}"
						method="post">
						<input id="liste" type="submit" value="To-Do's" style="color: white; border-style:none; background-color:transparent;" />
					</form></li>


			<!-- -------------------------- UsersLists -->

				<li class="list-group-item" style="background-color:#1C1C1C;"><form th:action="@{/listUsers}"
						method="post">
						<input type="submit" value="Users" style="color: white; border-style:none; background-color:transparent;" />
					</form></li>


				<!-- -------------------------- FlatLists -->

				<li class="list-group-item" style="background-color:#1C1C1C;"><form th:action="@{/listFlat}"
						method="post">
						<input type="submit" value="Flat" style="color: white; border-style:none; background-color:transparent;" />
					</form></li>
					
					<li class="list-group-item" style="background-color:#1C1C1C;"><form th:action="@{/showUserProfile}"
						method="post">
						<input type="submit" value="Profile" style="color: white; border-style:none; background-color:transparent;" />
					</form></li>
					
					
					<li class="list-group-item" style="background-color:#1C1C1C;"><form th:action="@{/showPartyImg}"
						method="post">
						<input type="submit" value="Party Pics" style="color: white; border-style:none; background-color:transparent;" />
					</form></li>
					
					
					
			</ul>



		</div>
	</div>
</div>

</html>