<div th:fragment="menu">


	<div class="card bg-secondary text-white">
		<div class="card-header">
			<h2>Menu</h2>
		</div>
		<div class="card-body">

			<!-- <ul style=list-style-type:none>  -->
			<!--------------------------------- GroceryList ----------------------------------------->
			<form th:action="@{/showGroceryList}"
			method="post">
			<input class="btn btn-default" type="submit" value="Grocery" />
			</form>




			<!--------------------------------- CommentsList ----------------------------------------->
				<form th:action="@{/listComments}"
			method="post">
			<input class="btn btn-default" type="submit" value="Comments" />
			</form>


			<!--------------------------------- TodoList ----------------------------------------->

				<form th:action="@{/listTodos}"
			method="post">
			<input class="btn btn-default" type="submit" value="Todo" />
			</form>

			<!-- -------------------------- UsersLists -->
				<form th:action="@{/listUsers}"
			method="post">
			<input class="btn btn-default" type="submit" value="Users" />
			</form>


			<!-- -------------------------- FlatLists -->

				<form th:action="@{/listFlat}"
			method="post">
			<input class="btn btn-default" type="submit" value="Flat" />
			</form>


		</div>
	</div>
</div>

</html>