
<nav th:fragment="search" class="navbar navbar-inverse navbar-fixed-top bg-dark ">
	<div class="container-fluid">
		<!-- HTML form with search textbox and submit button-->
		
		<form class="navbar-form navbar-left">
			<a style="color:white; font-size:200%;" th:href="@{/}"> COMMUNE-IC8</a>		
		</form>
		
		
		<div class="row">
			
			<div class="col-sm">
				<form class="navbar-form navbar-right" th:action="@{/showUserProfile}"
				method="post">
				<input class="btn btn-default nav-icon " type="submit" value="Profile" />
				</form>
			</div>
			
			<div class="col-sm">
				<form class="navbar-form navbar-right" th:action="@{/logout}"
				method="post">
				<input class="btn btn-danger" type="submit" value="Sign Out" />
				</form>
			</div>
	</div>
</nav>