<div th:fragment="sidebar">
	<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-title">Menu</li>

			<li class="nav-item"><a class="nav-link"
				th:href="@{/showGroceryList}"> <i
					class="nav-icon cui-speedometer"></i> Grocery
			</a></li>


			<li class="nav-item"><a class="nav-link" th:href="@{/listTodos}">
					<i class="nav-icon cui-speedometer"></i> To-Do's
			</a></li>


			<li class="nav-item"><a class="nav-link"
				th:href="@{/listComments}"> <i
					class="nav-icon cui-speedometer"></i> Comments
			</a></li>
			
			<li class="nav-item"><a class="nav-link"
				th:href="@{/listUsers}"> <i
					class="nav-icon cui-speedometer"></i> Users
			</a></li>

			<li class="nav-item"><a class="nav-link"
				th:href="@{/listFlat}"> <i
					class="nav-icon cui-speedometer"></i> Flat
			</a></li>
			

		</ul>
	</nav>
	<button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>